* {
    font-family: sans-serif;
    margin: 0
}

header {
    margin-top: 1em
}

header img {
    margin: 5px!important;
    margin-right: 15px!important
}

header ul {
    margin: 0;
    padding: 0
}

header il {
    display: inline;
    padding: 0
}

header a {
    all: unset
}

header a:hover {
    filter: none;
    cursor: pointer
}

body {
    background-color: #222;
    background-image: url(/bg/bg.png);
    color: #ddd;
    font-size: 13pt;
    max-width: 800px;
    margin: 0 auto;
    text-rendering: optimizeLegibility;
    word-wrap: break-word;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start
}

@media(max-width: 800px) {
    body {
        margin:0 2ex
    }
}

footer {
    font-size: 11pt;
    margin-top: auto;
    margin-bottom: 1em;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between
}

a {
    color: #177cc0;
    text-decoration: underline
}

a img {
    margin: revert;
    display: revert
}

a:hover {
    filter: brightness(130%);
    text-decoration: underline
}

a.zola-anchor {
    position: absolute;
    left: -1em;
    text-decoration: none;
    opacity: 0;
    transition: opacity .1s linear
}

h1 {
    display: flex;
    align-items: center
}

h1,h2,h3 {
    margin-top: 1em
}

h1,h2,h3,h4,h5,h6 {
    position: relative
}

h1:hover a.zola-anchor,h2:hover a.zola-anchor,h3:hover a.zola-anchor,h4:hover a.zola-anchor,h5:hover a.zola-anchor,h6:hover a.zola-anchor {
    opacity: 1
}

img {
    color: #777;
    max-width: 100%;
    margin: 2em auto;
    display: block
}

img::after {
    content: " [failed image]"
}

.navbar {
    margin-top: 1em
}

.navbar li {
    display: inline;
    margin-right: 15px
}

.navbar a:hover {
    filter: brightness(130%)
}

.navbar-current {
    text-decoration: underline;
    filter: brightness(130%)
}

ul,li {
    margin: 1em 0
}

blockquote {
    margin: 1em 0;
    padding: 0 .8em;
    border-left: .25em solid #777
}

main p {
    margin-top: 1em;
    margin-bottom: 1em
}

code {
    font-family: monospace;
    background: #151515;
    padding: .2em;
    border-radius: 10%
}

pre {
    background: #151515!important;
    padding: .8em;
    overflow-x: scroll
}

pre code {
    padding: 0
}

pre code span {
    font-family: monospace
}

.footnote-definition {
    display: flex;
    margin-top: .5em;
    margin-bottom: .5em
}

.footnote-definition p {
    margin: 0
}

section>.footnote-definition:first-of-type {
    margin-top: 2em
}

.footnote-definition-label {
    margin-right: 1ex
}

.bare-list {
    list-style-type: none
}
